<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Ki Wellness</title>
    <meta name="description" content="Wellness Support App">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha256-/ykJw/wDxMa0AQhHDYfuMEwVb4JHMx9h4jD4XvHqVzU=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Your Custom Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="content-wrapper">
    <h1>Ki Wellness</h1>
        <nav class="navigation">
            <ul>
                <li><a href="{{ url_for('food_journal_routes.food_journal') }}" >Food Journal</a></li>
                <li><a href="{{ url_for('exercise_log_routes.exercise_log') }}" >Exercise Log</a></li>
                <li><a href="{{ url_for('spiritual_playlist_routes.spiritual_playlist') }}" >Spiritual Playlist</a></li>
            </ul>
        </nav>
    <hr>
    <!-- Dynamic Page Content -->
    <div class="centered-section">
        {% block content %}{% endblock %}

    <!-- GoFundMe Embed -->
        <footer>
            <p><a class="second-centered-section" href= "https://www.gofundme.com/f/be-part-of-the-nutrition-transformation" target="_blank" rel="noopener noreferrer"> ~ Donate to keep this site going ~ </a></p>
        </footer>
    
</div>
</body>
</html>